.main_container {
    display: flex;
    justify-content: flex-start;
    user-select: none;
}

.main_container .options {
    margin-left: 10px;
    margin-top: 10px;
}

.main_container .options .option {
    padding: 5px;
    display: flex;
    align-content: center;
}

.main_container p {
    font-size: 1.8rem;
    font-weight: bold;
    margin: auto;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 2px solid currentColor;
    border-radius: 2px;
    transform: translateY(-0.075em);
}

input[type="checkbox"]:checked {
    background-color: black;
}

.pathfinding_tip {
   font-size: 1.2rem;
}
  